html {
        background-color: #eeeeee;
}

.App {
  height: 100%;
  width: 100%;
  text-align: left;
  font-family: "Roboto", sans-serif;
  background-color: #eeeeee;
}

.ticketContainer {
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1rem;
  padding: 5rem 10rem;
}

.Pagination {
        display: flex;
        flex-flow: row nowrap;
}
